/* Global Styles */
body, html {
    font-family: Futura;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; /* Full viewport height */
    max-width: 100%;
    box-sizing: border-box;
}

/* Information Panel */
#information-panel {
    height: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow-y: auto;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Map Container */
.map-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    flex-grow: 1; /* Allow container to grow */
}

.map-container {
    height: 80%; /* Adjust height to ensure visibility */
}

/* Checkbox Container */
#checkbox-container {
    padding: 10px;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    box-sizing: border-box;
    flex-grow: 0;
    overflow-y: auto;
    border-right: 1px solid #040000;
}

/* County Table Label */
.county-table-label {
    flex-grow: 1;
    flex: 0 0 25%; /* Flex-grow: 0, flex-shrink: 0, flex-basis: 25% */
    height: auto;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #872222;
    box-sizing: border-box;
    border: 1px solid #c33e3e;
}

/* Address Display */
#address-display {
    background-color: #d7cfcf;
    box-sizing: border-box;
    flex-shrink: 1;
    display: flex;
    max-height: 100%;
    width: 100%;
    justify-content: center;
}

/* Map Address and Map */
#map-address {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#map {
    width: 100%;
    height: 60%;
    border-radius: 0 10px 10px 0;
    position: relative;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

/* Legend Styling */
#legend {
    background: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    max-height: 70%;
    overflow-y: auto;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 150px;
}

#legend h4 {
    margin: 0 0 5px 0;
    font-size: 1.1em;
    color: #666;
}

@media (max-width: 600px) {
    #legend h4 {
        font-size: 0.7em;
    }
    #checkbox-container h5 {
        font-size: 0.7em;
    }
}

/* Legend Items */
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 1em;
    line-height: 1.5;
}

/* Legend Lines */
.legend-line {
    min-width: 20px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle; /* Align lines and text */
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.legend-name {
    font-size: 1em;
    display: inline-block;
}



/* General Styles for Legend Items */
.legend-items,
#icon-legend,
#layers-legend {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .legend-items,
    #icon-legend,
    #layers-legend {
        font-size: 0.5em;
    }
}

/* County Info Table */
.county-info-table {
    max-width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    margin-top: 2%;
    flex-grow: 1;
}

.county-info-table td {
    padding: 10px;
    background-color: #ffffff;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal;
}

.county-info-table tr:first-child td,
.county-info-table tr:last-child td {
    border: none;
}

/* Leaflet Control Search */
.leaflet-control-search {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.leaflet-control-search .search-input {
    border-radius: 20px;
    border: 1px solid #ccc;
    height: 48px;
    padding: 0 50px 0 20px;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
}

.leaflet-control-search .search-button {
    background: url('https://img.icons8.com/ios-filled/50/000000/search.png') no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
}

.leaflet-control-search .search-cancel {
    display: none;
}

.leaflet-control-search .search-tooltip {
    max-height: calc(100vh - 90px);
    width: 100%;
}

.leaflet-control-search .search-tip {
    background-color: white;
    border-radius: 0;
    border: 1px solid #ddd;
    border-top-width: 0;
    color: #333;
    line-height: 48px;
    margin: 0;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leaflet-control-search .search-tip:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.leaflet-control-search .search-tip:active {
    background-color: #e0e0e0;
}

/* Allowed Counties Text */
.allowed-counties-text {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 40px;
}

/* County Select Dropdown */
#county-select {
    margin-bottom: 5px;
    font-size: 1.0em;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
    white-space: normal;
    display: block;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    #county-select {
        font-size: 0.7em;
        max-height: 300px;
    }
    #checkbox-container label {
        font-size: 0.5em;
    }
}


/* Default styles for desktop */
.leaflet-popup-content {
    font-family: Futura;
    font-size: 15px;
    line-height: 1.5;
    color: #292828;
}

/* For tablets (screen width less than or equal to 768px) */
@media screen and (max-width: 768px) {
    .leaflet-popup-content {
        font-size: 14px;
    }
}

/* For mobile phones (screen width less than or equal to 480px) */
@media screen and (max-width: 480px) {
    .leaflet-popup-content {
        font-size: 12px;
    }
}

.leaflet-popup-content-wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 1px;
}

.leaflet-popup-tip {
    background: #ffffff;
}

/* Data Source Text */
.data-source {
    height: 5%;
    font-size: 0.7em;
    color: #666;
    text-align: center;
    padding: 15px;
    margin-top: 1%;
}

.icon-legend .legend-item {
    display: flex;
    align-items: center; /* Aligns items vertically */
    margin-bottom: 8px; /* Space between legend items */
}

.legend-icon {
    width: 25px; 
    height: 25px; 
    margin-right: 8px; /* Space between the icon and the text */
    flex-shrink: 0; /* Prevents the icon from shrinking */
}

@media (max-width: 600px) {
    .legend-icon {
        width: 18px; /* Smaller size for mobile screens */
        height: 18px; 
    }
}


/* Apply max-width to all elements to prevent overflow */
* {
    max-width: 100vw;
    box-sizing: border-box;
}


